<header class='Header_1-a header'>
  <h1 class='logo'>
    <a href='#'>
      <img class='w-full h-[80px]' src='../images/logo-b.svg' alt='' title='' />
    </a>
  </h1>
  <div class='gnb'>
    <ul class='flex w-full h-full'>
      {{#LOOP 12}}
        <li>
          <a href=''>MENU {{number}}</a>
          <div class='tabs block'>
            {{#LOOP 3}}
              <ul class='border-b-2 border-sub-blue-100'>
                <li class='inline-block w-full h-9 pl-[15px] leading-9 font-bold'>MENU {{../number}} - {{number}}</li>
                {{#LOOP 5}}
                  <li>
                    <a href='https://www.google.com' target='_blank'>MENU {{../../number}} - {{../number}} - {{number}}</a>
                  </li>
                {{/LOOP}}
              </ul>
            {{/LOOP}}
          </div>
        </li>
      {{/LOOP}}
    </ul>
  </div>
  {{!--
  <div class='top-search'>
    <input type='text' class='flex-initial w-5/6 indent-4' />
    <button type='button' class='flex-initial w-1/6'><i class='fa-solid fa-magnifying-glass'></i></button>
  </div>
  --}}
</header>